@model IEnumerable<ContactEditor.Models.Contact>

@{
    ViewBag.Title = "GetContacts";
}

<h2>GetContacts</h2>

<a href="Index">Добавить контакт</a>

    @foreach (ContactEditor.Models.Contact c in ViewBag.Contacts)
    {
            <p>@c.Person</p>
            <p>@c.Phone</p>
            <p><img src="@c.PathToImage"></p>
    }


