@model IEnumerable<ContactEditor.Models.Contact>

@{
    ViewBag.Title = "GetSortedContacts";
}

<h2>Список контактов отсортированных по имени</h2>

<a href="Index">Добавить контакт</a><br />
<a href="DeleteContact">Удалить контакт</a>
@foreach (ContactEditor.Models.Contact c in Model)
{
    <p>@c.ContactId</p>
    <p>@c.Person</p>
    <p>@c.Phone</p>
    <p><img src="@c.PathToImage"><a href="/Home/EditContact/@c.ContactId">Редактировать контакт</a></p>
}

