@model ContactEditor.Models.Contact
@{ 

    ViewBag.Title = "Index";
    
}

<h1>Введите данные нового контакта</h1>

<body>

    @using (Html.BeginForm("AddImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.ValidationSummary()
        <p>ФИО:   @Html.TextBoxFor(x => x.Person)</p>
        <p>Телефон: @Html.TextBoxFor(x => x.Phone)</p>
        <p>Выберите файл для загрузки</p>
        <input type="file" name="upload" /><br>
        <input type="hidden" value="contact" />
        <input type="submit" value="Загрузить" />
        <a href="../Home/GetContacts">Обратно к списку</a>

    }

</body>


